﻿@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
    <title>Crear Receta</title>
    <link href="~/css/create/other/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/css/create/other/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <link href="~/css/create/other/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/css/create/other/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <link href="~/css/create/CreateCss.css" rel="stylesheet" />
    <link href="~/css/create/fontawesome-all.css" rel="stylesheet" />
    
    <link href="~/css/create/index.css" rel="stylesheet" media="all">
</head>

<body style="background-image: url('https://lh3.googleusercontent.com/proxy/xGFHZmex9lTr6BBDa8hqOnqFdtZ2urCQTofm4kUiAebsz5LoBZGhpgTH5UxeApLYwtzd7sByUmYrusyoQnS85oRMgjB9sl4XjXk7a2yKVmoiLYt1ZGagnRePMt39AQPz6OwPVMMLJuZqYoRQuti5U2ySAEdW6J34oeYPOKOOsVBU');">
    <br /><br /> <br /><br />
    <div class=" w3l-login-form" >
        <h2>Registrar nuevo Chef</h2>
        <form method="POST" action="/Home/CreateChef">

            <div class=" w3l-form-group">

                <div class="group">
                    <i class="fa fa-user-circle"></i>
                    <input type="text" class="form-control" placeholder="Nombre del Chef" name="Nombre" required="required" />
                </div>
            </div>

            <div class=" w3l-form-group">

                <div class="group">
                    <i class="fa fa-photo"></i>
                    <input type="url" class="form-control" placeholder="URL de la foto del Chef" name="Foto" required="required" />
                </div>
            </div>

            <div class=" w3l-form-group">

                <div class="group">
                    <i class="fa fa-envelope"></i>
                    <input type="email" class="form-control" placeholder="Correo" name="Correo" required="required" />
                </div>
            </div>

            <div class=" w3l-form-group">
                <div class="group">
                    <i class="fa fa-key"></i>
                    <input type="password" class="form-control" placeholder="Password" name="Password" required="required" />

                </div>

            </div>
            <button type="submit" class="btn btn--green">Registrar Chef</button>
        </form>
        <p class=" w3l-register-p"><a href="/Home/Login" class="register"> Regresar</a></p>
    </div>

    <script src="~/css/create/other/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/css/create/other/select2/select2.min.js"></script>
    <script src="~/css/create/other/datepicker/moment.min.js"></script>
    <script src="~/css/create/other/datepicker/daterangepicker.js"></script>

</body>

</html>