﻿@{ 
    Layout = null;

}


<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" href="~/elements/images/logo.png">
    <title> Recipe.io </title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
    <link href="~/css/profile/bootstrap.css" rel="stylesheet">
    <link href="~/css/profile/styles.css" rel="stylesheet">
   

</head>
<body>
    <section class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-lg-2"></div>
                <div class="col-md-10 col-lg-8">
                    @foreach (var item in ViewBag.Cheff)
                    {
                        <div class="intro">
                            <div class="profile-img"><img src="@item.Foto" alt=""></div>
                            <h2><b>@item.Nombre</b></h2>

                            <h4 class="font-yellow">[Tipo de Usuario]</h4>
                            <br />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" href="/Dashboard/Follow">Ver Siguidores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Dashboard/Comment">Comentarios Realizados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Dashboard/Favorite">Recetas Favoritas</a>
            </li>
        </ul>
    </section>
    <section class="about-section section" id="counter">

        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="counter margin-b-30">
                        <h1 class="title"><b><span class="counter-value" data-duration="400" data-count="3">0</span></b></h1>
                        <h5 class="desc"><b>Recetas Creadas</b></h5>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="counter margin-b-30">
                        <h1 class="title"><b><span class="counter-value" data-duration="1400" data-count="25">0</span></b></h1>
                        <h5 class="desc"><b>Cheff Visitados</b></h5>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="counter margin-b-30">
                        <h1 class="title"><b><span class="counter-value" data-duration="2000" data-count="732">0</span></b></h1>
                        <h5 class="desc"><b>Comentarios Realizados</b></h5>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="counter margin-b-30">
                        <h1 class="title"><b><span class="counter-value" data-duration="700" data-count="311">0</span></b></h1>
                        <h5 class="desc"><b> Top Mundial </b></h5>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <script src="~/js/profile/jquery-3.2.1.min.js"></script>
    <script src="~/js/profile/tether.min.js"></script>
    <script src="~/js/profile/isotope.pkgd.min.js"></script>
    <script src="~/js/profile/jquery.waypoints.min.js"></script>
    <script src="~/js/profile/progressbar.min.js"></script>
    <script src="~/js/profile/jquery.fluidbox.min.js"></script>
    <script src="~/js/profile/scripts.js"></script>

</body>
</html>