﻿@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <title>View Recipes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="~/css/view-recipe.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @{var promedio = 0; var number = 0;}
    <div id="index-content">
        <section>
            <h1 class="text-center">
                <span> Recetario </span>
            </h1>
            <div class="col-md-9">
                <input type="text" id="myInput" class="form-control" placeholder="Error Ramdon [DB]" value=""/>
            </div>
            <br />
            <div class="container">
                <div class="row">
                    @foreach (var items in ViewBag.Dishes)
                    {
                        @foreach (var item in ViewBag.Chef)
                        {
                            @if (item.IdChef == items.IdChef)
                            {
                                @foreach (var prom in ViewBag.Promedio)
                                {
                                    promedio = 0; number = 0;
                                    if (prom.IdDish == items.IdDish)
                                    {
                                        promedio += prom.FavoritoStar;
                                        number++;
                                        @if (promedio == 0)
                                        {
                                            promedio = 0;
                                        }
                                        else
                                        {
                                            promedio = promedio / number;
                                        }
                                    }
                                }
                                <div class="col-md-3">
                                    <div class="card profile-card-1">
                                        <h1 style="text-align:center;background:white;left:265px;top:-10px;bottom:250px;border-radius:50%;font-size:20px" class="profile"><br />   <img src="https://assets.stickpng.com/images/580b585b2edbce24c47b2917.png" height="50px" />@promedio</h1>
                                        <a href="/Dashboard/recipe?id=@items.IdDish">
                                            <img src="@items.Imagen" height="400" />
                                            <img src="@item.Foto" class="profile" id="profile-index" />
                                        </a>
                                        <div class="card-content">
                                            <h2>
                                                @items.Plato
                                                <small> Por @item.Nombre</small>
                                            </h2>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </section>
    </div>
    <script>
        $(function () {
            $(".container").empty();
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $.ajax({
                    type: "GET",
                    url: '/Dashboard/Encontre?name=' + value,
                    success: function (datos) {
                        $(".container").html(datos);
                    }
                })
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</body>
</html>