﻿@{
    Layout = null;
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/comments/styles.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
</head>
<body>
    <div class="container">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <div class="row">
            <!-- Contenedor Principal -->
            <div class="comments-container">
                <h1>Comentarios Realizados</h1>

                <ul id="comments-list" class="comments-list">
                    @foreach (var items in ViewBag.Comment)
                    {
                        @foreach (var item in ViewBag.Cheff)
                        {
                            if (item.IdChef == items.IdChef)
                            {
                                if (items.SubComentario == 1)
                                {
                                    <li>
                                        <ul class="comments-list reply-list">
                                            <li>
                                                <!-- Avatar -->
                                                <div class="comment-avatar" style="border-radius:50%"><img src="@item.Foto" alt=""></div>
                                                <!-- Contenedor del Comentario -->
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        <h6 class="comment-name by-author"><a href="#">@item.Nombre</a></h6>
                                                        <span>hace 10 minutos</span>
                                                        <i class="fa fa-reply"></i>
                                                    </div>
                                                    <div class="comment-content">@items.Comentario</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <div class="comment-main-level">
                                            <!-- Avatar -->
                                            <div class="comment-avatar" style="border-radius:50%"><img src="@item.Foto" alt=""></div>
                                            <!-- Contenedor del Comentario -->
                                            <div class="comment-box">
                                                <div class="comment-head">
                                                    <h6 class="comment-name"><a href="#">@item.Nombre</a></h6>
                                                    <span>hace 10 minutos</span>
                                                    <i class="fa fa-reply"></i>
                                                </div>
                                                <div class="comment-content">@items.Comentario</div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        }
                    }
                    
                </ul>
            </div>
        </div>
    </div>
</body>
</html>