﻿@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="~/css/create_recipe.css"/>
</head>
<body>
    <header class="page-header">
        <nav>
            <div class="trigger-menu-wrapper">
                <span class="trigger-menu" style="font-size:30px;">Crear Nueva Receta</span>
            </div>
        </nav>
    </header>
    <form action="/Dashboard/Recibir" method="post">
        <main class="page-main">
            <section style="background-image: url(https://wallpaperstock.net/libro-de-recetas-wallpapers_53636_1920x1200.jpg);">
                <h1 style="text-align:center">Agregar Nueva Receta</h1>
                <div class="container-fluid">
                    <div class="container" style="background:rgba(0, 0, 0, 0.9);width:50%;top:10%">
                        <div class="formBox">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="inputBox">
                                        <div class="inputText" style="font-size:20px;color:white">Nombre de la receta</div>
                                        <input type="text" style="color:white" name="Plato" class="input" required="required">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="inputBox">
                                        <div class="inputText" style="font-size:20px;color:white">Url del Video</div>
                                        <input type="url" style="color:white" name="Video" class="input" required="required">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="inputBox">
                                        <div class="inputText" style="font-size:20px;color:white">Imagen URL de la receta</div>
                                        <input type="url" name="Imagen" class="input" required="required" style="color:white" />
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="inputBox">
                                        <div class="inputText" style="font-size:20px;color:white"> Breve Descripción de la Receta </div>
                                        <textarea class="input" style="color:white" type="text" rows="10" cols="57" name="Descripcion" ref="Medium" required="required"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <section style="background-image: url(https://db-api.elestimulo.com/app/uploads/2017/01/recetas-de-cocina-1.jpg);">
                <div class="container">
                    <div class="row" style="padding-top:5%">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary mr-2" onclick="agregarFila()">Agregar Ingrediente</button>
                            <button type="button" class="btn btn-danger" onclick="eliminarFila()">Eliminar Ingrediente</button>
                        </div>
                        <table class="table table-hover table-dark" id="tablaprueba" style="text-align:center; width:100%;">
                            <thead class="thead-dark">
                                <tr>
                                    <th> ID </th>
                                    <th> Nombre del Ingrediente </th>
                                    <th> Cantidad del Ingrediente </th>
                                    <th> Costo del Ingrediente </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section style="background-image: url(https://image.freepik.com/foto-gratis/ingredientes-hornear-o-cocinar-marco-fondo-panaderia-postre-ingredientes-utensilios_120485-1582.jpg);">
                <div class="container">
                    <div class="row" style="padding-top:5%">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary mr-2" onclick="agregarFila1()">Agregar Pasos</button>
                            <button type="button" class="btn btn-danger" onclick="eliminarFila1()">Eliminar Pasos</button>
                        </div>
                        <table class="table table-hover table-dark" id="tablaprueba1" style="text-align:center;width:100%">
                            <thead class="thead-dark">
                                <tr>
                                    <th> ID </th>
                                    <th> Descripcion </th>
                                    <th> Imagen </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </section>
            <footer class="page-footer">
                <div style="text-align:center">
                    <input style="width:100%;font-size:30px;background:red" type="submit" class="btn btn-primary mr-2" id="boton" value="Guardar Receta" disabled />
                </div>
            </footer>
        </main>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script src="~/js/bootstable.min.js"></script>
    <script>
        $(".input").focus(function () {
            $(this).parent().addClass("focus");
        })
        var a = 0;
        var b = 0;

        function agregarFila1() {
            document.getElementById("tablaprueba1").insertRow(-1).innerHTML = `<td>${b + 1} <input type="hidden" name="preparations[${b}].IdPreparation" value=${b} /></td><td><input type="text" class="form-control" aria-describedby="basic-addon3" name="preparations[${b}].Descripcion" required/></td><td><input type="url" class="form-control" aria-describedby="basic-addon3" name="preparations[${b}].Imagen" required/></td>`;
            if (a > 3 && b > 3) {
                document.getElementById('boton').disabled = false;
            } else {
                document.getElementById('boton').disabled = true;
            }
            b++;
        }

        function agregarFila() {
            document.getElementById("tablaprueba").insertRow(-1).innerHTML = `<td>${a + 1} <input type="hidden" name="ingredients[${a}].IdDish" value=${a} /></td><td><input type="text" class="form-control" aria-describedby="basic-addon3" name="ingredients[${a}].Nombre" required/></td><td><input type="text" class="form-control" aria-describedby="basic-addon3" name="ingredients[${a}].Cantidad" required/></td><td><input type="number" class="form-control" aria-describedby="basic-addon3" name="ingredients[${a}].Costo" required/></td>`;
            if (a > 3 && b > 3) {
                document.getElementById('boton').disabled = false;
            }
            a++;
        }

        function eliminarFila() {
            var table = document.getElementById("tablaprueba");
            var rowCount = table.rows.length;
            if (rowCount <= 1) {
                alert('No se puede eliminar el encabezado');
            } else {
                table.deleteRow(rowCount - 1);
                a--;
                document.getElementById('boton').disabled = true;
            }
        }

        function eliminarFila1() {
            var table = document.getElementById("tablaprueba1");
            var rowCount = table.rows.length;
            if (rowCount <= 1) {
                alert('No se puede eliminar el encabezado');
            } else {
                table.deleteRow(rowCount - 1);
                b--;
                document.getElementById('boton').disabled = true;
            }
        }

        const body = document.body;
        const triggerMenu = document.querySelector(".page-header .trigger-menu");
        const nav = document.querySelector(".page-header nav");
        const menu = document.querySelector(".page-header .menu");
        const scrollUp = "scroll-up";
        const scrollDown = "scroll-down";
        let lastScroll = 0;

        triggerMenu.addEventListener("click", () => {
            body.classList.toggle("menu-open");
        });

        window.addEventListener("scroll", () => {
            const currentScroll = window.pageYOffset;
            if (currentScroll <= 0) {
                body.classList.remove(scrollUp);
                return;
            }

            if (currentScroll > lastScroll && !body.classList.contains(scrollDown)) {
                body.classList.remove(scrollUp);
                body.classList.add(scrollDown);
            } else if (currentScroll < lastScroll && body.classList.contains(scrollDown)) {
                body.classList.remove(scrollDown);
                body.classList.add(scrollUp);
            }
            lastScroll = currentScroll;
        });
    </script>
</body>
</html>

