﻿@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <title>Crear Receta</title>

    <link href="~/css/create/other/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/css/create/other/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <link href="~/css/create/other/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/css/create/other/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <link href="~/css/create/CreateCss.css" rel="stylesheet" />
    <link href="~/css/create/fontawesome-all.css" rel="stylesheet" />

    <link href="~/css/create/index.css" rel="stylesheet" media="all">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>

<body>

    <br /><br />
    <div class=" w3l-login-form" style="margin-left: 70px;">
        <h2>Crear Receta</h2>
        <form method="POST" action="/DashBoard/Create">

            <div class=" w3l-form-group">

                <div class="group">
                    <i class="fa fa-user"></i>
                    <input type="text" class="form-control" placeholder="Nombre de la receta" name="Plato" required="required" />
                </div>
            </div>

            <div class=" w3l-form-group">

                <div class="group">
                    <i class="fa fa-video-camera"></i>
                    <input type="text" class="form-control" placeholder="Video URL de la receta" name="Video" required="required" />
                </div>
            </div>

            <div class=" w3l-form-group">

                <div class="group">
                    <i class="fa fa-image"></i>
                    <input type="text" class="form-control" placeholder="Imagen URL de la receta" name="Imagen" required="required" />
                </div>
            </div>

            <div class=" w3l-form-group">
                <label>Descripción : </label>
                <textarea type="text" rows="10" cols="57" name="Descripcion" ref="Medium" required="required"></textarea>

            </div>
            <button type="submit" class="btn btn--green">Crear Receta</button>
        </form>
        <p class=" w3l-register-p"><a href="/Dashboard/Index" class="register"> Regresar</a></p>
    </div>

    
    <br>
    <div>
        <table class="table table-dark " id="DyanmicTable">
            <thead>
                <tr>
                    <th class="text-center" scope="col">
                        Full Name
                    </th>
                    <th class="text-center" scope="col">
                        WebSite
                    </th>
                    <th class="text-center" scope="col">
                        Contact No
                    </th>
                    <th class="text-center" scope="col">
                        <button id="addNewRow" class="btn btn-primary btn-sm">Add New Row</button>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


    <script src="~/css/create/other/jquery/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="~/js/bootstable.min.js"></script>
    <script>
        $('#DyanmicTable').SetEditable({ $addButton: $('#addNewRow') });
    </script>

    <script src="~/css/create/other/select2/select2.min.js"></script>
    <script src="~/css/create/other/datepicker/moment.min.js"></script>
    <script src="~/css/create/other/datepicker/daterangepicker.js"></script>

</body>

</html>

