﻿@{
    Layout = null;
}
<div class="row">
    @{var promedio = 0; var number = 0;}
    @foreach (var items in ViewBag.Dishes)
    {

        @foreach (var item in ViewBag.Chef)
        {
            @if (item.IdChef == items.IdChef)
            {
                @foreach (var prom in ViewBag.Promedio)
                {
                    if (prom.IdDish == items.IdDish)
                    {
                        promedio += prom.FavoritoStar;
                        number++;
                    }
                }
                @if (promedio == 0)
                {
                    promedio = 0;
                }
                else
                {
                    promedio = promedio / number;
                }
                <div class="col-md-3">
                    <div class="card profile-card-1">
                        <h1 style="text-align:center;background:white;left:265px;top:-10px;bottom:250px;border-radius:50%;font-size:20px" class="profile"><br />   <img src="https://assets.stickpng.com/images/580b585b2edbce24c47b2917.png" height="50px" /><span style="margin-top:-40px;font-size:30px">@promedio</span></h1>
                        <a href="/Dashboard/recipe?id=@items.IdDish">
                            <img src="@items.Imagen" height="400" />
                            <img src="@item.Foto" class="profile" id="profile-index" />
                        </a>
                        <div class="card-content">
                            <h2>
                                @items.Plato
                                <small> Por @item.Nombre</small>
                            </h2>
                        </div>

                    </div>
                </div>
            }
        }
    }
</div>