﻿@{
    Layout = null;
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
}
<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" href="~/elements/images/logo.png">
    <title> Recipe.io </title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="~/css/profile/bootstrap.css" rel="stylesheet">
    <link href="~/css/profile/ionicons.css" rel="stylesheet">
    <link href="~/css/profile/fluidbox.min.css" rel="stylesheet">
    <link href="~/css/profile/styles.css" rel="stylesheet">
    <link href="~/css/profile/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .star-rating i {
            color: gray;
            font-size: 24px;
        }
            .star-rating i :hover {
                color: red;
                font-size: 24px;
            }

        .img-container {
            width: 700px;
            height: 300px;
            overflow: hidden;
            border-radius: 40px;
        }
    </style>
    <link href="~/css/comments/styles.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

</head>
<body>
    <nav id="navmenu" style="background:rgba(13, 103, 213, 0.72);padding-bottom:30px">
        <div class="container-fluid" style="padding-left:150px;padding-top:20px">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home" style="color:white;margin-left:50px;">
                    RECIPE.IO <img src="~/elements/images/logo.png" style="width:340%;margin-left:-140px;" />
                </a>
            </div>
            <table style="margin-left:550px;">
                <thead>
                    <tr>
                        <td colspan="3">
                            <a href="/Dashboard/" style="margin-right:30px;color:white;text-decoration:none"> INICIO </a>
                            <a href="/Dashboard/Create_Recipe" style="margin-right:30px;color:white;text-decoration:none"> CREAR RECETA</a>
                            <a href="/Dashboard/Buscar" style="margin-right:30px;color:white;text-decoration:none"> BUSCAR RECETA </a>
                            <a href="/Dashboard/Profile" style="margin-right:30px;color:white;text-decoration:none"> PERFIL </a>
                            <a href="/Home/Index"><input type="button" class="btn btn-success small" style="padding-left:50px;padding-right:50px;font-size:20px;margin-right:50px;border-radius:20px;" value="Cerrar Sesión"></a>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </nav>
    @{var valor = 0; var recipe = 1; var total = 0; var promedio = 0; int number = 0; int star; int star1 = 0; int star2 = 0; int star3 = 0; int star4 = 0; int star5 = 0;
        <section class="intro-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-lg-2"></div>
                    <div class="col-md-10 col-lg-8">
                        @foreach (var item in ViewBag.Dishes)
                        {
                        <div class="intro">
                            <div class="profile-img"><img src="@item.Imagen"></div>
                            @{valor = item.IdDish;}
                            <h2><b>@item.Plato</b></h2><br />
                            <h6>Chef Creador </h6>
                            @if (ViewBag.Favorito == 1)
                            {
                                <div>
                                    <a href="/Dashboard/QuitarFavorito?id=@item.IdDish">Quitar Favorito</a>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <a href="/Dashboard/AñadirFavorito?id=@item.IdDish">Agregar Favorito</a>
                                </div>
                            }

                            @foreach (var items in ViewBag.DetalleChef)
                            {
                                <h4><b>@items.Nombre</b></h4><br />
                            }
                            <br />
                            <h4 style="color:#FFCC36;font-family:'Bookman Old Style'">Califica esta receta</h4>
                            <section class='rating-widget'>
                                <div class="form-group">
                                    <div class="star-rating">
                                        @foreach (var prom in ViewBag.Promedio)
                                        {
                                            promedio += prom.FavoritoStar;
                                            number++;
                                            @if (prom.FavoritoStar == 5) { star5++; }
                                            @if (prom.FavoritoStar == 4) { star4++; }
                                            @if (prom.FavoritoStar == 3) { star3++; }
                                            @if (prom.FavoritoStar == 2) { star2++; }
                                            @if (prom.FavoritoStar == 1) { star1++; }
                                        }
                                        @if (promedio == 0)
                                        {
                                            promedio = 0;
                                        }
                                        else
                                        {
                                            promedio = promedio / number;
                                        }
                                        <i class="fas fa-star" id="star1" value="1" onclick="add(this,1,@item.IdDish)"></i>
                                        <i class="fas fa-star" id="star2" value="2" onclick="add(this,2,@item.IdDish)"></i>
                                        <i class="fas fa-star" id="star3" value="3" onclick="add(this,3,@item.IdDish)"></i>
                                        <i class="far fa-star" id="star4" value="4" onclick="add(this,4,@item.IdDish)"></i>
                                        <i class="far fa-star" id="star5" value="5" onclick="add(this,5,@item.IdDish)"></i>
                                    </div>
                                </div>
                                <br /><br />
                                @{star = 0;}
                                <div class="pull-left" style="margin-left:-60px">
                                    <div class="pull-left" style="width:35px; line-height:1;">
                                        <div style="height:9px; margin:5px 0;"> 5 <span class="glyphicon glyphicon-star"></span></div>
                                    </div>
                                    <div class="pull-left" style="width:180px;">
                                        <div class="progress" style="height:9px; margin:8px 0;">
                                            @{
                                                if (star5 != 0)
                                                { star = star5 * 100 / number; }
                                            }
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @star%"></div>
                                        </div>
                                    </div>
                                </div>
                                @{star = 0;}
                                <div class="pull-left" style="margin-left:50px">
                                    <div class="pull-left" style="width:35px; line-height:1;">
                                        <div style="height:9px; margin:5px 0;"> 4 <span class="glyphicon glyphicon-star"></span></div>
                                    </div>
                                    <div class="pull-left" style="width:180px;">
                                        <div class="progress" style="height:9px; margin:8px 0;">
                                            @{
                                                if (star4 != 0)
                                                { star = star4 * 100 / number; }
                                            }
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: @star%"></div>
                                        </div>
                                    </div>
                                </div>
                                @{star = 0;}
                                <div class="pull-left">
                                    <div class="pull-left" style="width:35px; line-height:1;margin-left:50px">
                                        <div style="height:9px; margin:5px 0;"> 3 <span class="glyphicon glyphicon-star"></span></div>
                                    </div>
                                    <div class="pull-left" style="width:180px;">
                                        <div class="progress" style="height:9px; margin:8px 0;">
                                            @{
                                                if (star3 != 0)
                                                { star = star3 * 100 / number; }
                                            }
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: @star%"></div>
                                        </div>
                                    </div>
                                </div>
                                @{star = 0;}
                                <div class="pull-left">
                                    <div class="pull-left" style="width:35px; line-height:1;margin-left:50px">
                                        <div style="height:9px; margin:5px 0;"> 2 <span class="glyphicon glyphicon-star"></span></div>
                                    </div>
                                    <div class="pull-left" style="width:180px;">
                                        <div class="progress" style="height:9px; margin:8px 0;">
                                            @{
                                                if (star2 != 0)
                                                { star = star2 * 100 / number; }
                                            }
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: @star%"></div>
                                        </div>
                                    </div>
                                </div>
                                @{star = 0;}
                                <div class="pull-left">
                                    <div class="pull-left" style="width:35px; line-height:1;margin-left:70px">
                                        <div style="height:9px; margin:5px 0;"> 1 <span class="glyphicon glyphicon-star"></span></div>
                                    </div>
                                    <div class="pull-left" style="width:180px;">
                                        <div class="progress" style="height:9px; margin:8px 0;">
                                            @{if (star1 != 0) { star = star1 * 100 / number; }}
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: @star%"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </section>

        <section class="experience-section section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="heading">
                            <h3><b> Descripción del Plato </b></h3>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <p class="margin-b-50" style="margin-right:90px">
                            @foreach (var item in ViewBag.Dishes)
                            {
                                @item.Descripcion
                            }
                        </p>

                        <div style="padding-left:-90px;left: 10px;margin-left: -200px;width: 100%;">
                            @foreach (var item in ViewBag.Characteristic)
                            {
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        <div class="radial-prog-area margin-b-30">
                                            <div class="radial-progress" data-prog-percent=".@item.Kalorias">
                                                <div></div>
                                                <h6 class="progress-title"> Calorias </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        <div class="radial-prog-area margin-b-30">
                                            <div class="radial-progress" data-prog-percent=".@item.Proteinas">
                                                <div></div>
                                                <h6 class="progress-title"> Proteinas </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        <div class="radial-prog-area margin-b-30">
                                            <div class="radial-progress" data-prog-percent=".@item.Grasas">
                                                <div></div>
                                                <h6 class="progress-title"> Grasas </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        <div class="radial-prog-area margin-b-30">
                                            <div class="radial-progress" data-prog-percent=".@item.Carbohidratos">
                                                <div></div>
                                                <h6 class="progress-title"> Carbohidratos </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <br /><br /><br />


                <div class="row">
                    <div class="col-sm-4">
                        <div class="heading">
                            <h3><b> Video demostrativo </b></h3>
                        </div>
                    </div>

                    @foreach (var item in ViewBag.Dishes)
                    {
                        <iframe width="560" height="315" src="@item.Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        <br />
                    }

                </div>
            </div>
        </section>

        <section class="portfolio-section section" style="background:white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="heading">
                            <h3><b> Ingredientes del Plato </b></h3>
                        </div>
                    </div>
                    <table class="table" border="1" style="width:50%">
                        <thead class="bg-success">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Costo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var items in ViewBag.Ingredient)
                            {
                                <tr>
                                    <td>@items.IdIngredient</td>
                                    <td>@items.Nombre</td>
                                    <td>@items.Cantidad</td>
                                    <td>@items.Costo</td>
                                </tr>
                                total += items.Costo;
                            }
                            <tr>
                                <td colspan="3">
                                    <h3 style="color:red;text-align:center">Costo Total </h3>
                                </td>
                                <td> <h3 style="color:red">S./ @total </h3> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="portfolio-section section" style="background:white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="heading">
                            <h3><b> Preparacion del Plato </b></h3>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var items in ViewBag.Preparation)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <h1 style="font-size:25px;text-align:left;margin-top:-280px">[Paso @recipe]</h1> <br />
                                            <h5 style="margin-top:50px;font-size:5px;font-size:20px;text-align:justify;"> @items.Descripcion</h5>
                                            @if (items.Nota != null)
                                            {
                                                <p>Truco - @items.Nota</p>
                                            }
                                        </th>
                                        <th>
                                            <div class="img-container">
                                                <img src="@items.Imagen" />
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            recipe++;
                        }
                    </div>
                </div>
            </div>
        </section>

        <section class="portfolio-section section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="heading">
                            <h3><b> Comentarios del Plato </b></h3>
                        </div>
                    </div>
                    <div class="container" style="margin-top:-100px;">
                        <div class="comments-container">
                            <ul id="comments-list" class="comments-list">
                                @foreach (var items in ViewBag.Comment)
                                {
                                    @foreach (var item in ViewBag.Cheff)
                                    {
                                        if (item.IdChef == items.IdChef)
                                        {
                                            if (items.SubComentario == 1)
                                            {
                                                <li>
                                                    <ul class="comments-list reply-list">
                                                        <li>
                                                            <!-- Avatar -->
                                                            <div class="comment-avatar" style="border-radius:50%"><img src="@item.Foto" alt=""></div>
                                                            <!-- Contenedor del Comentario -->
                                                            <div class="comment-box">
                                                                <div class="comment-head">
                                                                    <h6 class="comment-name by-author"><a href="#">@item.Nombre</a></h6>
                                                                    <span>hace 10 minutos</span>
                                                                    <i class="fa fa-reply"></i>
                                                                </div>
                                                                <div class="comment-content">@items.Comentario</div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <div class="comment-main-level">
                                                        <!-- Avatar -->
                                                        <div class="comment-avatar" style="border-radius:50%"><img src="@item.Foto" alt=""></div>
                                                        <!-- Contenedor del Comentario -->
                                                        <div class="comment-box">
                                                            <div class="comment-head">
                                                                <h6 class="comment-name"><a href="#">@item.Nombre</a></h6>
                                                                <span>hace 10 minutos</span>
                                                                <i class="fa fa-reply"></i>
                                                            </div>
                                                            <div class="comment-content">@items.Comentario</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    }
                                }
                                <li>
                                    <div class="comment-main-level">
                                        <div class="comment-avatar" style="border-radius:50%"><img src="@ViewBag.User.Foto" alt=""></div>
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                <h6 class="comment-name"><a href="#">@ViewBag.User.Nombre</a></h6>
                                                <i class="fa fa-reply"></i>
                                            </div>
                                            <div class="comment-content">
                                                <div id="summernote"></div>
                                                <form action="/Dashboard/Comment?id=@valor" method="post">
                                                    <input type="text" class="form-control" name="Comentario" placeholder="Comentarios" style="text-align:center" required />

                                                    <button class="btn btn-danger">Commentar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="portfolio-section section" style="background:white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="heading">
                            <h3><b>Platos Recomendados</b></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portfolioContainer">
                @foreach (var item in ViewBag.Recomendados)
                {
                    <a href="Recipe?id=@item.IdDish" data-fluidbox>
                        <div class="p-item web-design">
                            <img style="margin-left:80px;height:300px;width:400px" src="@item.Imagen">
                        </div>
                    </a>
                }
            </div>
        </section>

        <script src="~/js/profile/tether.min.js"></script>
        <script src="~/js/profile/bootstrap.js"></script>
        <script src="~/js/profile/isotope.pkgd.min.js"></script>
        <script src="~/js/profile/jquery.waypoints.min.js"></script>
        <script src="~/js/profile/progressbar.min.js"></script>
        <script src="~/js/profile/jquery.fluidbox.min.js"></script>
        <script src="~/js/profile/scripts.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

        <script>
            $(function () {
                for (var i = 1; i <= 5; i++) {
                    var cur = document.getElementById("star" + i)
                    cur.className = "far fa-star"
                }
                for (var i = 1; i <= @promedio; i++) {
                    var cur = document.getElementById("star" + i)
                    cur.className = "fas fa-star"
                }
            });
            function add(ths, sno, id) {
                $.ajax({
                    type: "POST",
                    url: '/Dashboard/Start?id=' + id + '&star=' + sno
                });
                for (var i = 1; i <= 5; i++) {
                    var cur = document.getElementById("star" + i)
                 
                    cur.className = "far fa-star"
                }
                for (var i = 1; i <= sno; i++) {
                    var cur = document.getElementById("star" + i)
                    if (cur.className == "far fa-star") {
                        cur.className = "fas fa-star"
                    }
                }
            }
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    }
</body>
</html>