body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.formBox {
	margin-top: 90px;
	padding: 50px;
}

	.formBox h1 {
		margin: 0;
		padding: 0;
		text-align: center;
		margin-bottom: 50px;
		text-transform: uppercase;
		font-size: 48px;
	}

.inputBox {
	position: relative;
	box-sizing: border-box;
	margin-bottom: 50px;
}

	.inputBox .inputText {
		position: absolute;
		font-size: 24px;
		line-height: 50px;
		transition: .5s;
		opacity: .5;
	}

	.inputBox .input {
		position: relative;
		width: 100%;
		height: 50px;
		background: transparent;
		border: none;
		outline: none;
		font-size: 24px;
		border-bottom: 1px solid rgba(0,0,0,.5);
	}

.focus .inputText {
	transform: translateY(-30px);
	font-size: 18px;
	opacity: 1;
	color: #00bcd4;
}

textarea {
	height: 100px !important;
}

.button {
	width: 100%;
	height: 50px;
	border: none;
	outline: none;
	background: #03A9F4;
	color: #fff;
}
/* RESET RULES & HELPER CLASSES
末末末末末末末末末末末末末末末末末末末末末末末末末 */
:root {
	--white: #fff;
	--black: #221f1f;
	--lightpurple: #9e91f2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	position: relative;
	font: 16px/1.5 sans-serif;
	color: var(--white);
}

.trigger-menu-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	padding: 20px;
	z-index: 2;
	background: rgba(0, 0, 0, 1);
	transition: transform 0.4s;
}

.page-header .trigger-menu {
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	color: var(--white);
	letter-spacing: .2em;
}

	.page-header .trigger-menu svg {
		fill: var(--white);
		margin-right: 8px;
		transition: transform 0.3s;
	}

.page-header .menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	text-align: center;
	padding: 15vh 0 5vh;
	overflow: auto;
	z-index: 1;
	background: var(--lightpurple);
}

	.page-header .menu a {
		font-size: 3rem;
	}

.page-header .sub-menu a {
	font-size: 1.5rem;
}

.page-main section {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}
/* FOOTER
末末末末末末末末末末末末末末末末末末末末末末末末末 */
.page-footer {
	font-size: 0.85rem;
	padding: 10px;
	text-align: right;
	color: var(--black);
}

	.page-footer span {
		color: #e31b23;
	}

/* BODY CLASSES
末末末末末末末末末末末末末末末末末末末末末末末末末 */
.menu-open {
	overflow: hidden;
}

	.menu-open .trigger-menu-wrapper {
		background: transparent;
	}

	.menu-open .page-header .menu {
		display: block;
	}

	.menu-open .page-header svg {
		transform: rotate(45deg);
	}

.scroll-down .trigger-menu-wrapper {
	transform: translate3d(0, -100%, 0);
}

.scroll-up .trigger-menu-wrapper {
	transform: none;
}

.scroll-up:not(.menu-open) .trigger-menu-wrapper {
	background: var(--lightpurple);
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}




/* width */
::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(84, 255, 46, 1);
	border-radius: 10px;
}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: rgba(84, 255, 46, 1);
	}
