﻿html,body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

.text-white-50 {
    color: black !important;
}

.text-white {
    color: black !important;
}

.pb-4, .py-4 {
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
}

/**/


h1 {
    float: left;
    width: 100%;
    color: #232323;
    margin-bottom: 30px;
    font-size: 14px;
}

    h1 span {
        font-family: 'Libre Baskerville', serif;
        display: block;
        font-size: 45px;
        text-transform: none;
        margin-bottom: 20px;
        margin-top: 30px;
        font-weight: 700
    }


/*Profile Card 1*/
.profile-card-1 {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
    text-align: left;
    margin-bottom: 50px;
    height: 368px;
    border: none;
    border-radius: 20px 40px 50px 0px;
}
    


    .profile-card-1 .card-content {
        width: 100%;
        padding: 15px 25px;
        padding-top: 70px;
        position: absolute;
        left: 0;
        top: 63%;

    }

    .profile-card-1 .profile {
        border-radius: 50%;
        position: absolute;
        bottom: 20%;
        left: 50%;
        max-width: 100px;
        opacity: 1;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(255, 255, 255, 1);
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        margin-left: -65px;
    }

    .profile-card-1 h2 {
        margin: 0 0 5px;
        font-weight: 600;
        font-size: 25px;
        opacity: 0.6;
        background-color: rgba(0, 0, 0, 1);
        border-radius: 20px 20px 20px 0px;
    }

        .profile-card-1 h2 small {
            display: block;
            font-size: 15px;
            margin-top: 10px;
        }

#imag-index {
    height: 100%;
}

#imag-footer {
    height:200;
}